

<div class="panel panel-default panel-custom" *ngIf="instance != null" >
    <div class="panel-body" >
        <div class="row">
            <div class="col-3"><b>Origin: </b></div>
            <div class="col-6">{{instance?.originSelection.name}}</div>
        </div>
        <div class="row">
            <div class="col-3"><b>Destination: </b></div>
            <div class="col-6">{{instance?.destinationSelection.name}}</div>
        </div>
        <div class="row">
            <div class="col-3"><b>Departure Date: </b></div>
            <div class="col-6">{{instance?.departureDate}}</div>
        </div>
        <div class="row">
            <div class="col-3"><b>Travellers: </b></div>
            <div class="col-6">{{ instance?.travelers.adults + instance?.travelers.childrens + instance?.travelers.infants}} Travellers</div>
        </div>
    </div>
  </div>
